{% extends "layout.html" %}

{% block title %}
CHAI AUR TWEET
{% endblock  %}


{% block content %}
<h1 class='text-center  mt-5'>WELCOME TO CHAI'S DJANGO PROJECT</h1>
<h2>{% if form.instance.pk %}EDIT TWEET{%else%}CREATE TWEET{% endif %}
    <form method='post' enctype='multipart/form-data' class='form'>
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">back to tweet list</a>
</h2>

{% endblock %}